.checkout-product {
  display: flex;
  margin: 20px 0;
 
}
.checkout-product-info {
  padding: 20px 50px;
  margin-left: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 2px #d1d0d0;
  border-radius: 2px;
}
.checkout-product-image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  padding-left: 30px;
}

.checkout-product-description{
    font-size: 17px;
    font-weight: 800;
    color: rgb(99, 97, 97);
   
}
.checkout-product-rating{
    display: flex;
}
.checkout-product-button{
  background-color: #fcb65b;
  padding:5px;
  border: 1px solid #f8b154;
  border-radius: 5px;
  margin-top: 20px;
}